@font-face {
    font-family: Poppins;
    src: url("/resources/fonts/Poppins-Medium.ttf");
}
.table_view {
	-fx-font-family: Poppins;
}
.table-column {
	-fx-alignment: CENTER;
}
.scroll_pane {
	-fx-alignment: CENTER;
}